.wrapper {
  position: relative;
  z-index: 1;
  align-self: center;
  justify-self: start;
  text-align: left;
  margin: 2rem;
  max-width: 1000px;
  width: 90%;
}
@media (max-width: 800px) {
  .wrapper {
    align-self: flex-start;
    max-width: 100%;
  }
}
