$wordLength: 3;
$animationDuration: 0.9s;
$animationInterval: 0.1s;

.container {
  max-width: 90%;
  margin: 2rem;
  align-self: center;
  justify-self: start;
  text-align: left;
  color: rgb(248, 248, 248);
  padding-bottom: 5rem;
}

.header {
  display: flex;
}

.img {
  height: 12rem;
  object-fit: cover;
  object-position: 20% 10%;
}

.cardText {
  h2 {
    color: white;
  }
  margin: 1rem;
}

.cascadingText {
  display: flex;
  flex-direction: row;
  &__letter {
    width: auto;
    background: #272727;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.534);
    margin-right: 1.5rem;
    margin-top: 1rem;
    opacity: 0;
    animation-name: fade;
    @for $i from 1 through $wordLength {
      &:nth-of-type(#{$i}) {
        animation-delay: $animationInterval * $i;
      }
    }
    animation-duration: $animationDuration;
    animation-fill-mode: forwards;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }

  .cascadingText {
    flex-direction: column;
    align-items: center;
    &__letter {
      width: auto;
    }
  }

  .social {
    padding: initial;
    padding-right: 0.2rem;
  }
}
