.container {
  display: flex;
  border: 2px solid #2c8c99;
  width: 20rem;
  transition: 0.25s;
  margin-top: 2rem;

  &:hover,
  &:focus {
    border-color: #2c8c99;
    color: #fff;
    box-shadow: inset 20rem 0 0 0 #2c8c99;
  }
}

.icon {
  cursor: pointer;
  flex: 0;
  padding: 1rem;
  border-right: 0.1px solid #2c8c99;
}

.button {
  cursor: pointer;
  color: #e1e2e1;
  transition: 1s;
  background: none;
  font: inherit;
  flex: 1;
  border: none;
  padding: 0;
}
