.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 550px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 360px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
