.app {
  text-align: center;
  display: grid;
  grid-template-columns: 10rem 1fr;
  background-color: #1d1d1d;
}

@media (max-width: 800px) {
  .app {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
}
