.app {
  text-align: center;
  display: grid;
  grid-template-columns: 12rem 1fr;
  background-color: #1d1d1d;
}

@media (max-width: 800px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  .nav {
    height: 4rem;
  }
}

@media (min-width: 801px) {
  .nav {
    height: 100vh;
  }
}

.nav {
  display: flex;
  background-color: #1b1b1b;
  border-right: 1px solid #2a2a2a;
}

.header {
  border-bottom: 2px solid #2c8c99;
}

h1 {
  line-height: 3.5rem;
}

h4 {
  padding: 2rem 0 0 0;
  color: rgb(216, 215, 215);
  max-width: 70ch;
}

.heroText {
  max-width: 60%;
  margin: 2rem;
  align-self: center;
  justify-self: start;
  text-align: left;
  color: rgb(248, 248, 248);
  padding-bottom: 5rem;
}
